.body {
  margin: 20px;
  background-color: #212121;
  font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  color: rgb(221, 221, 221);
}
.site-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .hdg {
    font-size: 22px;
  }
  .contents {
    margin-top: 1em;
  }
  .articles {
    margin-top: 40px;
  }
}