.body {
  background-color: #212121;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  color: rgb(221, 221, 221);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding-right: 20px;
}

.site-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 40px 20px 20px;

  .hdg {
    font-size: 22px;
  }

  .contents {
    margin-top: 1em;
  }

  a {
    color: rgb(96, 165, 250);
  }
}

.articles {
  margin: 40px 20px 20px;

  .article {
    border-radius: 15px;
    background-color: #2b2b2b;
    border: 1px solid rgba(236, 239, 241, .2);
    color: #eceff1;

    .link {
      padding: 20px;
    }

    .hdg {
      transition: .3s;
    }

    .info {
      margin-top: 10px;
    }
  }

  .article:nth-of-type(n + 2) {
    margin-top: 20px;
  }
}

/* Hover */
.article a:hover h1 {
  color: rgb(96, 165, 250);
  transition: .3s;
}