.body {
  background-color: #212121;
  font-family: ui-monospace, -sf-mono--regular, -menlo, -monaco, -consolas,
    -liberation -mono, -courier -new, monospace;
  color: rgb(221, 221, 221);
  word-break: break-word;
}


.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding-right: 20px;
}


.site-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 40px 20px 20px;

  .hdg {
    font-size: 22px;
    font-family: 'Noto Sans JP', sans-serif;
  }


  .contents {
    margin-top: 1em;
    text-align: end;
  }


  a {
    color: rgb(96, 165, 250);
  }

}


.articles {
  margin: 40px 20px 20px;

  .article {
    border-radius: 15px;
    background-color: #2b2b2b;
    border: 1px solid rgba(236, 239, 241, 0.2);
    color: #eceff1;

    .link {
      display: block;
      padding: 20px;
    }


    .hdg {
      transition: 0.3s;
    }


    .info {
      margin-top: 10px;
    }


    .overview {
      display: none;
      width: 250px;
      border-radius: 15px;
      background-color: #6b6b6b;
      border: 1px solid rgba(236, 239, 241, 0.2);
      color: #eceff1;
      padding: 10px;
      position: fixed;
      bottom: 20px;
      box-shadow: 0px 0px 15px -5px #777777;
      border-radius: 10px;

      .img {
        width: 100%;
        border-radius: 15px;
      }


      .description {
        margin-top: 20px;
        font-size: 14px;
      }

    }

  }


  .article:nth-of-type(n + 2) {
    margin-top: 20px;
  }

}


/* -hover */
.article a:hover h1 {
  color: rgb(96, 165, 250);
  transition: 0.3s;
}

